@import "../../../styles/breakpoints";
@import "../../../styles/responsive";
@import "../../../styles/animation.scss";

.emptyState {
    background: #fff;
    text-align: center;
    padding: 128px 0 120px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 20px;

    figcaption {
        margin: 24px 0;

        h3 {
            font-size: 18px;
            font-weight: 600;
        }
    }

    a {
        display: block;
        transition: all .3s ease-in-out;
        box-sizing: border-box;
        margin-bottom: 8px;

        .btnGreen {
            display: inline-block;
            font-size: 16px;
            line-height: 24px;
            padding: 9px 24px;
            box-sizing: border-box;
            text-transform: initial;

            background-color: #1dbf73;
            font-weight: 700;
            color: #fff !important;
            border: 1px solid transparent;
            border-radius: 3px;
            transition: color .2s, background-color .2s, box-shadow .2s, border .2s;

            &:hover {
                box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .3);
            }
        }
    }
}

.jobsListWrapper {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 20px;
    position: relative;
    width: auto;
    height: auto;

    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}

.jobSpinner {
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;

    .jobHalfSpinner {
        border: 3px solid #43789c;
        border-top: 3px solid transparent;
        border-radius: 50%;
        animation: spin 0.5s linear 0s infinite;
        width: 50px;
        height: 50px;
    }
}