.container {
    margin: 120px 60px 20px 60px;
    padding: 32px;
    font-size: 16px;
    color: #222325;

    .serviceDetail {
        width: 60%;
        // display: inline;

        h3 {
            font-size: 28px;
            margin: 15px 0 20px 0;
        }

        .sellerInfo {
            width: 100%;

            .sellerBrief {
                display: flex;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                }

                span {
                    margin: 0 10px;
                }

                .name {
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                i {
                    color: gold;
                }

                .topRated {
                    color: gold
                }
            }

            .sellerExperience {
                margin: 30px 0;
                width: 100%;
                text-align: center;
                background-color: #f5f5f5;

                img {
                    width: 70%;
                    height: auto;
                }
            }

        }

        .offer {
            .benefit {
                u {
                    background: #ffecd1;
                    text-decoration: none;
                }
            }
        }

        .aboutSeller {
            width: 33%;


            .extendSeller {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                img {
                    width: 50%;
                    height: 50%;
                    border-radius: 100%;
                    margin-right: 10px;
                }

                p {
                    margin: 3px 0;
                }

                em {
                    display: block;
                }

                button {
                    margin-top: 10px;
                    padding: 8px 10px;
                }
            }
        }

        .FAQ {
            font-size: 16px;
            color: #62646A;

            h4 {
                margin-top: 30px;
                color: #404145;
            }

            a {
                font-weight: 600;
                color: #62646A !important;
                padding: 15px 0;
                border-bottom: 1px solid #dadbdd;
            }

            .thirdFAQ {
                border-bottom: none;
            }
        }

        .ratingBreakdown {
            border-bottom: 1px solid #dadbdd;

            .reviewers {
                font-weight: 600;
                margin-bottom: 10px;

                h4 {
                    margin: 10px 0;
                }

                i {
                    color: #02c2a9;
                }

                .soSao {
                    color: #02c2a9;
                    margin-left: 5px;
                }
            }

            .rating {
                display: flex;
                margin-bottom: 30px;

                table {
                    tbody {
                        tr {
                            width: 100%;

                            td {
                                border: none;
                                text-align: left;
                                width: 100px;

                                button {
                                    color: #e4e5e7;
                                    background-color: transparent;
                                    border: 1px solid transparent;
                                    border-radius: 4px;
                                    -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                                    cursor: pointer;
                                    display: inline-block;
                                    font-weight: 600;
                                    padding: 12px 0px;
                                    position: relative;
                                    text-align: center;
                                    text-decoration: none;
                                    width: 100px;
                                }

                            }

                            .topNotch {
                                color: #02c2a9 !important;
                            }

                            .ratingBarContainer {
                                margin: auto;
                                padding: 10px 10px 0 6px;
                                width: 100%;

                                .ratingBarGroup {
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    -webkit-align-items: center;
                                    align-items: center;
                                    display: flex;

                                    .ratingBar1 {
                                        -webkit-box-flex: 1;
                                        -ms-flex-positive: 1;
                                        background: #02c2a9;
                                        border-radius: 999px;
                                        -webkit-flex-grow: 1;
                                        flex-grow: 1;
                                        height: 8px;
                                        position: relative;

                                        span {
                                            width: 100%;
                                            background: #1dbf73;
                                            border-radius: 999px;
                                            height: 100%;
                                            left: 0;
                                            position: absolute;
                                            z-index: 1;
                                            background-color: #02c2a9;
                                        }
                                    }

                                    .ratingBar2 {
                                        -webkit-box-flex: 1;
                                        -ms-flex-positive: 1;
                                        background: #e4e5e7;
                                        border-radius: 999px;
                                        -webkit-flex-grow: 1;
                                        flex-grow: 1;
                                        height: 8px;
                                        position: relative;

                                        span {
                                            width: 100%;
                                            // background: #1dbf73;
                                            border-radius: 999px;
                                            height: 100%;
                                            left: 0;
                                            position: absolute;
                                            z-index: 1;
                                            background-color: #e4e5e7;
                                        }
                                    }

                                }
                            }

                        }
                    }
                }
            }

            .breakdown {
                margin-top: 20px;
                margin-left: 20px;

                h6 {
                    padding-bottom: 16px
                }

                .ratingCategory {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 10px;

                    .starGroup {
                        color: #02c2a9
                    }
                }
            }
        }

        .sellerComment {
            .commentGroup {
                padding-bottom: 10px;
                margin: 20px 0;
                border-bottom: 1px solid #dadbdd;
                display: flex;

                .comment {
                    margin-left: 20px;

                    h6 {
                        font-size: 17px;
                    }

                    p {
                        margin-bottom: 10px;
                    }

                    .saoBinhLuan {
                        color: #02c2a9;
                        font-weight: 550;
                    }

                    .helpful {
                        font-size: 15px;
                        font-weight: 600;
                    }

                    .reactGroup {
                        margin-left: 25px;
                        font-weight: 600;
                        display: inline;

                        span {
                            color: orange;
                            margin: 0 10px;

                        }
                    }
                }

            }
        }

        .postComment {
            margin-top: 40px;

            .postGroup {
                display: flex;

                img {
                    margin-right: 20px;
                    width: 55px;
                    height: 50px;
                    border-radius: 100%;
                }

            }
            textarea {
                padding: 10px
            }

            .addComment {
                margin: 20px 0 0 75px;

                p {
                    margin: 10px 0 !important;
                }
            }
        }

    }

    .packageCost {
        width: 40% !important;
        position: fixed;
        top: 150px;
        right: -100px;

        .packageContent {
            width: 100%;
            padding: 15px 25px;

            .standard {
                display: flex;
                justify-content: space-between;

                margin-bottom: 30px;
            }

            .addtionalInfo {
                margin: 30px 0 10px 0;
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                // display: block !important;
svg {
    margin-right: 5px;
}
            }

            ul {
                li {
                    margin: 10px 0;

                    i {
                        color: #02c2a9;
                    }

                    span {
                        margin-left: 10px;
                    }

                    .noCheck {
                        margin-left: 25px;

                    }
                }
            }

            p.description {
                margin-top: 20px !important;
            }

            .continue {
                text-align: center;

                button {
                    margin: 20px 0 15px 100px;
                    display: flex !important;
                    justify-content: center !important;
                }
            }


        }
    }
}