#ServiceInfo {

    .fas.fa-star,
    .far.fa-star {
        color: #02c2a9;
    }

    li {
        list-style-type: disc;
    }

    #ServiceCost {
        .nav.nav-tabs {
            max-width: 402px;
            border: 1px solid #dadbdd;
            box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);

            .nav-item a {
                background-color: #fafafa;
                border-right: 1px solid #dadbdd;
                background-color: #fafafa;
                font-size: 15px !important;
                padding: 25px 35px;
            }

            .nav-link.active {
                background-color: #fff;
            }
        }
    }
}

