.background {
    height: 600px;
    color: #404145;
    margin-bottom: 96px;

    .container {
        padding: 0 32px;
        margin: 0 20px;
        height: 95px;

        h2 {
            padding-bottom: 16px;
            font-weight: 700;
        }

        .services {
            padding: 0 18px;
            position: relative;

            img {
                width: 239px;
                height: 345px;
                border-radius: 4px;
            }

            a {
                position: absolute;
                top: 0px;
                left: 0px;
                color: black;
                text-decoration: none;

                h4 {
                    padding: 16px 0 0 32px;
                    color: #fff;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 130%;
                    display: block;
                    font-weight: 700;

                    small {
                        height: 20px;

                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;

                        display: flex;
                        align-items: center;
                    }
                }

            }
        }
    }
}