
.deliveryDropdown {
    width: 238px;
    height: 232px !important;
    padding: 16px 24px;

    .deliveryContainer {
        height: 283px;
    }
}

.deliveryPoll {
    width: 100%;
    height: 230px;

  
            label {
                height: 19px;
                margin: 12px 3px;
            }

            input {
                width: 19px;
                height: 19px;
                margin: 15px 3px 12px 3px;
                padding-left: 0;
            }
}