.background {
    background-color: #fafafa;
    margin-bottom: 96px;

    .container {
        padding: 0 32px;
        margin: 0 20px;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #b5b6ba;

        .trustedBy {
            font-weight: 600;
            font-size: 16px;
            padding-right: 20px;
        }

        .brandGroup {
            padding: 0 24px;

            .brand {
                padding-right: 60px
            }
        }

    }
}