.header {
    transition: all 0.5s ease-in-out;
    height: 80px;
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: white !important;
    overflow: hidden;

    .container {
        max-width: 1400px;
        height: 80px;
        padding: 0 32px;
        margin: 0px 20px;

        .background {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            padding-top: 12px;

            .nav {
                overflow: hidden;

                >ul {
                    >li {
                        padding: 0 6px;
                        font-size: 16px;

                        .joinButton {
                            border: 1px solid #1dbf73 !important;
                            color: #1dbf73;
                            border-radius: 4px;
                            text-decoration: none;
                            font-size: 14px;
                            padding: 5px 16px;
                            display: flex;
                            align-items: center !important;
                            justify-content: center;

                            &:hover {
                                background-color: #1dbf73;
                                color: #fff !important;
                            }
                        }

                        a {
                            font-weight: 600 !important;
                            text-decoration: none;
                            white-space: nowrap;

                            svg {
                                margin-right: 8px;
                            }

                        }

                        a:hover,
                        a:hover svg {
                            color: #1dbf73 !important;
                            fill: #1dbf73 !important
                        }

                    }

                    .FiverrBusiness {
                        color: #1e1692 !important;
                    }
                }
            }

            .nav1 {
                overflow: hidden;

                >ul {
                    display: flex;
                    align-items: center !important;
                    justify-content: center;
                    color: #fff !important;

                    >li {
                        padding: 0 6px;
                        font-weight: 600;
                        font-size: 16px;

                        .joinButton {
                            border: 1px solid #fff !important;
                            color: #fff;
                            border-radius: 4px;
                            text-decoration: none;
                            font-size: 14px;
                            padding: 5px 16px;
                            display: flex;
                            align-items: center !important;
                            justify-content: center;

                            &:hover {
                                background-color: #1dbf73;
                                border: 1px solid #1dbf73 !important;
                            }
                        }
                    }

                    a {
                        color: #fff !important;

                        svg {
                            margin-right: 8px;
                        }
                    }

                }
            }
        }

        .searchPackage {
            input {
                width: 520px !important;
                height: 42px
            }

            .submitButton {
                background-color: #222325;
                border-radius: 0 4px 4px 0;

                width: 50px;
                height: 42px;

                display: block;
                font-size: 14px;
                padding: 8px 16px;
                text-shadow: none;
                cursor: pointer;
                transition: opacity 0.5s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}