.nav-item {
    .react-switch-bg {
        width: 50px !important;
        height: 22px !important;
        border-radius: 18px;
        display: flex;
        align-items: center;
        svg {
            
            height: 22px;
        }

        span {
            font-size: 15px;
        }
    }

    .react-switch-handle {
        width: 20px !important;
        height: 20px !important;
    }
}

@media screen and (max-width: 768px) {
    .nav-item {
        .react-switch-bg {
            width: 48px !important;
            height: 20px !important;
            border-radius: 16px;

            svg {
                
                height: 20px;
            }

            span {
                font-size: 15px !important;
            }
        }
    
        .react-switch-handle {
            width: 18px !important;
            height: 18px !important;
        }
    }
}

@media screen and (max-width: 576px) {
    .nav-item {
        .react-switch-bg {
            width: 45px !important;
            height: 18px !important;

            svg {
                
                height: 18px;
            }

            span {
                font-size: 14px !important;
            }
        }
    
        .react-switch-handle {
            width: 16px !important;
            height: 16px !important;
        }
    }
}