.nav-item {
    .react-switch-bg {
        width: 52px !important;
        height: 24px !important;
        border-radius: 20px;
        display: flex;
        align-items: center;

        // background: #1dbf73 !important;
        svg {
            
            height: 24px;
        }
    }

    .react-switch-handle {
        width: 22px !important;
        height: 22px !important;
    }
}