.divider {

    &::before,
    &::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #bababa;
    }
}

.loginBtn {
    font-size: 17px !important;
    letter-spacing: 0.1rem;
}

.togglePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44.944px !important;
    border-left: 0 !important;
    cursor: pointer;
    background-color: gainsboro !important;
}